@using TD.Common.Kendo.Mvc5.Grid
@using TD.CTS.WebUI.Models

@model TD.CTS.Data.Entities.Trial

@section head{
    <link href="@Url.Content("~/Content/td/td.kendo.grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/td/td.kendo.tabstrip.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/td/td.kendo.grid.js")"></script>

    <style type="text/css">
        .td-textarea-edit{
            width: 300px !important;
            height: 100px !important;
        }
    </style>
}

@{
    var isNew = ViewBag.IsNew;
    var tab = ViewBag.Tab == null ? TrialTab.Main : (TrialTab)ViewBag.Tab;
}

@if (isNew)
{
    <div id="MainContent" style="overflow:auto;" class="k-content k-state-active">
        @Html.Partial("EditorTemplates/MainEditor")
    </div>
    <script>
        $(document).ready(function () {
            SetContentBlock($("#MainContent"));
        });

        $(window).bind("resize", function () {
            SetContentBlock($("#MainContent"));
        });
    </script>
}
else
{ 
    @(Html.Kendo().TabStrip()
        .Name("TabStrip")
        .Animation(false)
        //.Events(events => events.Show("ShowTab"))
        .Items(tabs =>
            {
                var trialCode = Model.Code ?? "";
                var tabBuilder = tabs.Add().Text("Основное");
                if (tab == TrialTab.Main)
                {
                    tabBuilder.Selected(true).Content(@<text>@Html.Partial("EditorTemplates/MainEditor")</text>);
                }
                else
                    tabBuilder.Action("Edit", "Trials", new { Id = Model.Code, VersionId = Model.Version, Tab = TrialTab.Main });

                tabBuilder = tabs.Add().Text("Материалы");
                if (tab == TrialTab.Materials)
                {
                    tabBuilder.Selected(true).ContentHtmlAttributes(new { style = "padding:0;" })
                    .Content(@<text>@Html.Partial("EditorTemplates/MaterialsEditor", trialCode)</text>);
                }
                else
                    tabBuilder.Action("Edit", "Trials", new { Id = Model.Code, VersionId = Model.Version, Tab = TrialTab.Materials });

                tabBuilder = tabs.Add().Text("Визиты");
                if (tab == TrialTab.Visits)
                {
                    tabBuilder.Selected(true).ContentHtmlAttributes(new { style = "padding:0;" })
                    .Content(@<text>@Html.Partial("EditorTemplates/ProceduresEditor", Model)</text>);
                }
                else
                    tabBuilder.Action("Edit", "Trials", new { Id = Model.Code, VersionId = Model.Version, Tab = TrialTab.Visits });

                tabBuilder = tabs.Add().Text("Роли");
                if (tab == TrialTab.Roles)
                {
                    tabBuilder.Selected(true).ContentHtmlAttributes(new { style = "padding:0;" })
                    .Content(@<text>@Html.Partial("EditorTemplates/RolesEditor", Model)</text>);
                }
                else
                    tabBuilder.Action("Edit", "Trials", new { Id = Model.Code, VersionId = Model.Version, Tab = TrialTab.Roles });
                    
                @*tabs.Add().Text("Стоимость визитов")
                    .ContentHtmlAttributes(new { style = "padding:0;" })
                    .Content(@<text>@Html.Partial("EditorTemplates/VisitCostsEditor", trialCode)</text>)
                    .Enabled(!isNew);
                tabs.Add().Text("Статьи доходов")
                    .ContentHtmlAttributes(new { style = "padding:0;" })
                    .Content(@<text>@Html.Partial("EditorTemplates/IncomeArticlesEditor", trialCode)</text>)
                    .Enabled(!isNew);*@
            }
        )
    )

    @(Html.Kendo().Notification()
        .Name("SaveNotification")
        .Position(p => p.Pinned(true).Top(115).Right(30))
        .Width(150)
    )

    <script>
        $(document).ready(function () {
            SetContentBlock($("#TabStrip .k-content"));
        });

        $(window).bind("resize", function () {
            var tabStrip = $("#TabStrip").data("kendoTabStrip");
            var tab = tabStrip.select();
            var index = tab.index();
            if (index === 1) {
                var conteiner = tabStrip.contentElements[0];
                StretchGrid($(conteiner), $(conteiner).find(".k-grid"));
            }
        });
    </script>
}





@* Main *@
@*<script>
    var validator = $("#trialForm").kendoValidator().data("kendoValidator");
    var isNew = @isNew.ToString().ToLower();

    $(document).ready(function () {
        SetContentBlock($("#TabStrip .k-content"));

        kendo_grid_init($("#CentersGrid"));

        kendo_grid_init($("#MaterialsGrid"));

        //kendo_grid_init($("#ProcedureRolesGrid"));

        //kendo_grid_init($("#VisitsGrid"));

        //kendo_grid_init($("#IncomeArticlesGrid"));

        $(window).bind("resize", function () {
            var tabStrip = $("#TabStrip").data("kendoTabStrip");
            var tab = tabStrip.select();
            var index = tab.index();
            if (index !== 0 && index !== 2) {
                var conteiner = tabStrip.contentElements[index];
                StretchGrid($(conteiner), $(conteiner.firstElementChild));
            }
        });

        if(!isNew){
            $("#Code").attr("readonly", true);
            $("#VersionRow").css("display", "table-row");
        }
    });

    

    function SaveTrial() {
        if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action(isNew ? "AddTrial" : "UpdateTrial", "Trials")",
                data: {
                    "Code": $("#Code").val(),
                    "Name": $("#Name").val(),
                    "AdministratorLogin": $("#AdministratorLogin").val(),
                    "TaxiBooking": $("#TaxiBooking").is(":checked"),
                    "TaxiService": $("#TaxiService").val(),
                    "Approved": $("#Approved").is(":checked")
                },
                success: function (result) {
                    if(isNew) {
                        window.location.replace("@Url.Action("Edit", "Trials")" + "/" + $("#Code").val());
                        return;
                    }

                    var saveNotification = $("#SaveNotification").data("kendoNotification");
                    saveNotification.show("Сохранено", "success");
                },
                error: AjaxError
            });
        }
    }

    var visitLoad = true;
    function ShowTab(e){
        var index = $(e.item).index();

        if (index === 0){
            return;
        }

        if(index === 2){
            if(visitLoad){
                visitLoad = false;
            }
            return;
        }

        StretchGrid($(e.contentElement), $(e.contentElement.firstElementChild));
    }
</script>*@

@* TrialCenter *@
@*<script>
    function OnCenterSave(e){
        e.model.TrialCode = $("#Code").val();
    }

    function OnCenterEdit(e) {
        kendo_grid_onrowedit(e);
        if (e.model.isNew() == false) {
            e.container.find("#HospitalId").data("kendoDropDownList").enable(false);
        }
    }
</script>*@

@* Procedures *@
@*<script>
    var isProcedureEdit = false;
    function RequestEnd(e){
        if(e.type === "update" || e.type === "create"){
            isProcedureEdit = false;
            $('#ProceduresGrid .k-grid-header th:eq(0)').css("min-width", "");
        }
    }

    function OnProcedureCancel(e){
        isProcedureEdit = false;
        $('#ProceduresGrid .k-grid-header th:eq(0)').css("min-width", "");
    }

    function OnProcedureEdit(e){
        isProcedureEdit = true;
        ClearSelection();

        $('#ProceduresGrid .k-grid-header th:eq(0)').css("min-width", "60px");

        e.container.find("a.k-grid-delete").closest("td").html('<a class="k-button k-button-icontext k-primary k-grid-update td-grid-button" href="#" title="Обновить"><span class="k-icon k-update td-grid-button-image"></span></a>' +
                    '<a class="k-button k-button-icontext k-grid-cancel td-grid-button" href="#" title="Отмена"><span class="k-icon k-cancel td-grid-button-image"></span></a>');
        
        var dropDown = kendo.template($("#procedureTemplate").html());
        e.container.find("td:eq(1)").html(dropDown({ value: e.model.ProcedureCode }));
    }

    function OnProcedureSave(e){
        e.model.ProcedureCode = e.container.find("#ProcedureCode").val();
        e.model.dirty = true;
        if (e.model.isNew()){
            e.model.TrialCode = $("#Code").val(); 
            e.model.TrialVersionId = $("#Version").data("kendoDropDownList").value();
        }
    }

    var NotChange = false;
    function OnChange(e){
        if (NotChange)
            return;

        if (isProcedureEdit){
            var grid = $("#ProceduresGrid").data("kendoGrid");
            if(grid.select().length > 0)
                grid.clearSelection();
            return;
        }

        OnSelect($("#ProceduresGrid").data("kendoGrid"));
    }

    function GetTrialProcedureId(){
        var jGrid = $("#ProceduresGrid");
        var grid = jGrid.data("kendoGrid");
        var data = grid.dataItem(jGrid.find(".k-grid-edit-row"));
        return { trialProcedureId: data.Id };
    }

</script>*@

@* Visits *@
@*<script>
    function LoadVisitEdit(id){
        var window = $("#VisitEdit").data("kendoWindow");
        window.refresh({
            url: "@Url.Action("GetVisitEditor", "Trials")",
            data: { Id: id, TrialCode: $("#Code").val(), TrialVersionId: $("#Version").data("kendoDropDownList").value() }
    });
    }

    var visitValidator;
    function OpenVisitEdit(){
        var window = $("#VisitEdit").data("kendoWindow");
        visitValidator = $("#visitForm").kendoValidator().data("kendoValidator");
        window.center().open();
        $("#cancelVisit").click(function(){
            window.close();
        });
        $("#saveVisit").click(function(){
            if (visitValidator.validate()) {
                var form = $("#visitForm");
                var isNew = form.find("#IsNew").val();
                $.ajax({
                    type: "POST",
                    url: isNew === "True" ? "@Url.Action("AddTrailVisit", "Trials")" : "@Url.Action("UpdateTrailVisit", "Trials")",
                    data: {
                        "Id": form.find("#Id").val(),
                        "Name": form.find("#Name").val(),
                        "TrialCode": form.find("#TrialCode").val(),
                        "TrialVersionId": form.find("#TrialVersionId").val(),
                        "Days": form.find("#Days").val(),
                        "Punctuality": form.find("#Punctuality").val()
                    },
                    success: function (result) {
                        $("#TabStrip-3").html(result);
                        window.close();
                    },
                    error: AjaxError
                });
            }
        });
    }

    function DeleteVisit(id){
        if (confirm("Вы действительно хотите удалить визит?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteTrailVisit", "Trials")",
                data: { Id: id, TrialCode: $("#Code").val(), TrialVersionId: $("#Version").data("kendoDropDownList").value() },
                success: function (result) {
                    $("#TabStrip-3").html(result);
                },
                error: AjaxError
            });
        }
    }
</script>*@

@* Checkboxes *@
@*<script>
    var selectedCell;

    function SelectedVisit(visitId, data){
        var index = GetVisitIndex(visitId, data.Visits);
        if(index !== -1)
            return "<input class=\"td-visit-checkbox\" type=\"checkbox\" dataId=\"" + data.Visits[index].Id +
                "\" value=\"" + visitId + "\" checked style=\"display:none;margin:0;\" /><span class=\"k-icon k-i-tick\"></span>";

        return "<input class=\"td-visit-checkbox\" type=\"checkbox\" value=\"" + visitId + "\" style=\"display:none;margin:0;\" />";
    }

    function GetVisitIndex(visitId, visits){
        if (!visits)
            return -1;
        for (var i = 0, len = visits.length; i < len; i++) {
            if (visits[i].TrialVisitId === visitId)
                return i;
        }

        return -1;
    }

    function Update(endEdit){
        var result = true;
        if(selectedCell != null){
            var input = selectedCell.find("input");
            var checked = input.is(':checked');
            var visitId = parseInt(input.val());
            var row = selectedCell.closest("tr");
            var grid = $("#ProceduresGrid").data("kendoGrid");
            var rowData = grid.dataItem(row);
            var index = GetVisitIndex(visitId, rowData.Visits);
            if((checked && index !== -1) || (!checked && index === -1)){
                selectedCell.html(SelectedVisit(visitId, rowData));
                return result;
            }

            var data;
            var url;
            if (checked) {
                data = {
                    TrialVisitId: visitId,
                    ProcedureCode: rowData.ProcedureCode,
                    TrialCode: rowData.TrialCode,
                    TrialVersionId: rowData.TrialVersionId
                };
                url = "@Url.Action("AddTrialProcedureVisit", "Trials")";
            } else {
                data = { Id: input.attr("dataId") };
                url = "@Url.Action("DeleteTrialProcedureVisit", "Trials")";
            };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                async: false,
                success: function (newVisit) {
                    var rowIdx = $("tr", grid.tbody).index(row);
                    var colIdx = $("td", row).index(selectedCell);
                    if (checked){
                        rowData.Visits.push(newVisit);
                    }else{
                        rowData.Visits.splice(index, 1);
                    }
                    grid.dataSource.pushUpdate(rowData);
                    
                    selectedCell = $(grid.tbody[0].rows[rowIdx].cells[colIdx]);

                    UpdateVisitMaterials();
                    var saveNotification = $("#SaveNotification").data("kendoNotification");
                    saveNotification.show("Сохранено", "success");
                },
                error: function (error) {
                    result = false;
                    AjaxError(error);
                    endEdit = false;
                }
            });

            if (!endEdit){
                NotChange = true;
                grid.select(selectedCell);
                OnSelect(grid);
                NotChange = false;
            }
        }

        return result;
    }

    function OnSelect(grid){
        var cell = grid.select();
        if (selectedCell != null){
            var input = selectedCell.find("input");
            var visitId = parseInt(input.val());
            var row = selectedCell.closest("tr");
            var grid = $("#ProceduresGrid").data("kendoGrid");
            var rowData = grid.dataItem(row);
            selectedCell.html(SelectedVisit(visitId, rowData));
        }
        if(cell.length > 0){
            cell.find("input").css("display","inline-block");
            cell.find("span").remove();
            selectedCell = cell;
        } else {
            selectedCell = null;
        }

        UpdateVisitMaterials();
    }

    function ClearSelection(){
        var grid = $("#ProceduresGrid").data("kendoGrid");
        if (selectedCell != null){
            var input = selectedCell.find("input");
            var visitId = parseInt(input.val());
            var row = selectedCell.closest("tr");
            var grid = $("#ProceduresGrid").data("kendoGrid");
            var rowData = grid.dataItem(row);
            selectedCell.html(SelectedVisit(visitId, rowData));
        }
        grid.clearSelection();
        UpdateVisitMaterials();
    }

    $("#ProceduresGrid").on("change", ".td-visit-checkbox", function () {
        if (!Update())
            $(this).attr("checked", !($(this).is(":checked")));
    });
</script>*@

@* VisitMaterials *@
@*<script>
    var visitMaterialsData = null;
    function UpdateVisitMaterials(){
        var div = $("#VisitMaterials");
        if(selectedCell == null) {
            div.hide();
            visitMaterialsData = null;
            return;
        }

        var input = selectedCell.find("input");
        var checked = input.is(':checked');

        if(!checked) {
            div.hide();
            visitMaterialsData = null;
            return;
        }

        var visitMaterialId = input.attr("dataId");

        var grid = $("#VisitMaterialsGrid").data("kendoGrid");
        visitMaterialsData = { TrialVisitProcedureId: visitMaterialId };
        grid.dataSource.read();

        div.show();
    }

    function VisitMaterialsData() {
        return visitMaterialsData;
    }

    function OnVisitMaterialsSave(e) {
        e.model.TrialVisitProcedureId = visitMaterialsData.TrialVisitProcedureId;
        e.model.TrialCode = $("#Code").val();
    }

    function OnVisitMaterialEdit(e){
        kendo_grid_resizeColumn($('#VisitMaterialsGrid'), 0, "75px");

        e.container.find("a.k-grid-delete").closest("td").html('<a class="k-button k-button-icontext k-primary k-grid-update td-grid-button" href="#" title="Обновить"><span class="k-icon k-update td-grid-button-image"></span></a>' +
                    '<a class="k-button k-button-icontext k-grid-cancel td-grid-button" href="#" title="Отмена"><span class="k-icon k-cancel td-grid-button-image"></span></a>');
    }

    function OnVisitMaterialCancel(e){
        kendo_grid_resizeColumn($('#VisitMaterialsGrid'), 0, "50px");
    }

    function OnVisitMaterialRequestEnd(e){
        if(e.type === "update" || e.type === "create")
        {
            kendo_grid_resizeColumn($('#VisitMaterialsGrid'), 0, "50px");
        }
    }
</script>*@


