@using TD.Common.Kendo.Mvc5.Grid

@section head{
    <link href="@Url.Content("~/Content/td/td.kendo.grid.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/td/td.kendo.grid.js")"></script>
}

@{
    var filterRow = new TD.Common.Kendo.Mvc5.Grid.Filters.FilterRow(Html);
}

@(Html.Kendo().Grid<TD.CTS.Data.Entities.Trial>()
    .Init("Grid")
    .Editable()
    .Columns(columns =>
    {
        //columns.CrudCommands(filterRow).All();
        columns.Template(model => {})
                .Width(110)
                .ClientTemplate(TD.Common.Kendo.Mvc5.HtmlTemplates.AllRowCommandsTemplate +
@"<button class=""k-button k-button-icontext td-grid-button td-grid-role"" title=""Роли и стоимость""><span class=""k-icon k-i-custom td-grid-button-image""></span></button>")
                .HeaderTemplate(TD.Common.Kendo.Mvc5.HtmlTemplates.AddCommandTemplate);
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.ButtonFilterCell());
        columns.Bound(e => e.Name, filterRow).Width(200).Title("Наименование");
        columns.Bound(e => e.Status).Width(100).Title("Статус");
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.EmptyFilterCell());
        columns.Bound(e => e.CreateDate).Width(265).Title("Дата создания").Format("{0:dd.MM.yyyy HH:mm}");
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.DateRangeFilterCell("CreateDate"));
        columns.ForeignKey(e => e.AdministratorLogin, (System.Collections.IEnumerable)ViewBag.Users, "Login", "FullName").Width(200).Title("Администратор");
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.CheckBoxFilterCell("OwnTrialsOnly", "Только свои"));
        columns.Bound(e => e.VersionDate).Width(180).Title("Дата модификации").Format("{0:dd.MM.yyyy HH:mm}");
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.EmptyFilterCell());
        columns.ForeignKey(e => e.AuthorLogin, (System.Collections.IEnumerable)ViewBag.Users, "Login", "FullName").Width("100%").Title("Автор модификации");
        filterRow.AddCell(new TD.Common.Kendo.Mvc5.Grid.Filters.EmptyFilterCell());
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>
        {
            model.Id(e => e.Code);
        })
        .Read(read => read.Action("GetTrials", "Trials").Data("kendo_grid_getfilters"))
        //.Create(create => create.Action("AddTrial", "Trials"))
        //.Update(update => update.Action("UpdateTrial", "Trials"))
        .Destroy(destroy => destroy.Action("DeleteTrial", "Trials"))
        .Events(events => events.Error("kendo_grid_error_handler"))
     )
     //.Events(events => events.Edit("kendo_grid_onrowedit"))

)

<script>
    $(document).ready(function () {
        var grid = $("#Grid");
        kendo_grid_init(grid, true, '@Html.Raw(filterRow.HtmlFilterRow())');

        grid.find(".td-grid-add.td-grid-button").click(function () {
            $().redirect("@Url.Action("Edit", "Trials")");
        });

        grid.on("click", ".td-grid-edit.td-grid-button", function () {
            $().redirect("@Url.Action("Edit", "Trials")", { code: $(this).val() });
        });

        grid.on("click", ".td-grid-role.td-grid-button", function () {
            $().redirect("@Url.Action("RolesEdit", "Trials")", { code: $(this).val() });
        });
    });

</script>

