@using TD.Common.Kendo.Mvc5.Grid

@model TD.CTS.Data.Entities.Trial

@section head{
    <link href="@Url.Content("~/Content/td/td.kendo.grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/td/td.kendo.tabstrip.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/td/td.kendo.grid.js")"></script>

    <style type="text/css">
        .td-textarea-edit{
            width: 300px !important;
            height: 100px !important;
        }
    </style>
}

@{
    var isNew = ViewBag.IsNew;
}

@(Html.Kendo().TabStrip()
    .Name("TabStrip")
    .Animation(false)
    .Events(events => events.Show("ShowTab"))
    .Items(tabs =>
                {
                    tabs.Add().Text("Основное")
                        .Selected(true)
                        .Content(@<text>@Html.Partial("EditorTemplates/MainEditor")</text>);
                    tabs.Add().Text("Материалы")
                        .ContentHtmlAttributes(new { style = "padding:0;" })
                        .Content(@<text>
@(Html.Kendo().Grid<TD.CTS.Data.Entities.TrialMaterial>()
    .Init("MaterialsGrid")
    .Editable()
    .Columns(columns =>
    {
        columns.CrudCommands().All();
        columns.ForeignKey(e => e.MaterialId, (System.Collections.IEnumerable)ViewBag.Materials, "Id", "Name").Width("100%").Title("Наименование материала");
    })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(e => e.Id);
                model.Field(e => e.TrialCode).DefaultValue(Model.Code);
            })
            .Read(read => read.Action("GetTrialMaterials", "Trials", new { TrialCode = Model.Code }))
            .Create(create => create.Action("AddTrialMaterial", "Trials"))
            .Update(update => update.Action("UpdateTrialMaterial", "Trials"))
            .Destroy(destroy => destroy.Action("DeleteTrialMaterial", "Trials"))
            .Events(events => events.Error("kendo_grid_error_handler"))
         )
         .Events(events => events.Edit("kendo_grid_onrowedit"))
)
                        </text>)
                        .Enabled(!isNew);
                    tabs.Add().Text("Визиты")
                        .ContentHtmlAttributes(new { style = "padding:0;" })
                        .Content(@<text>@Html.Partial("EditorTemplates/ProceduresEditor", Model.Code ?? "")</text>)
                        .Enabled(!isNew);
                }
    )
)



<script id="procedureTemplate" type="text/x-kendo-template">
    @(Html.Kendo().DropDownList()
        .Name("ProcedureCode")
        .DataTextField("Name")
        .DataValueField("Code")
        .DataSource(source => {
            source.Read(read =>
            {
                read.Action("GetProcedures", "Trials", new { TrialCode = Model.Code }).Data("GetTrialProcedureId");
            }); 
        })
        .Value("#: value #")
        .ToClientTemplate()
    )
</script>

@* Main *@
<script>
    var validator = $("#trialForm").kendoValidator().data("kendoValidator");
    var isNew = @isNew.ToString().ToLower();

    $(document).ready(function () {
        SetContentBlock($("#TabStrip .k-content"));

        kendo_grid_init($("#CentersGrid"));

        kendo_grid_init($("#MaterialsGrid"));

        $(window).bind("resize", function () {
            var tabStrip = $("#TabStrip").data("kendoTabStrip");
            var tab = tabStrip.select();
            var index = tab.index();
            if (index === 1 || index === 2) {
                var conteiner = tabStrip.contentElements[index];
                StretchGrid($(conteiner), $(conteiner.firstElementChild));
            }
        });

        if(!isNew){
            $("#Code").attr("readonly", true);
        }
    });

    function SaveTrial() {
        if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action(isNew ? "AddTrial" : "UpdateTrial", "Trials")",
                data: {
                    "Code": $("#Code").val(),
                    "Name": $("#Name").val(),
                    "AdministratorLogin": $("#AdministratorLogin").val(),
                    "TaxiBooking": $("#TaxiBooking").is(":checked"),
                    "TaxiService": $("#TaxiService").val(),
                    "Approved": $("#Approved").is(":checked")
                },
                success: function (result) {
                    if(isNew) {
                        $("#CentersGrid").css("display", "block");
                        var tabStrip = $("#TabStrip").data("kendoTabStrip");
                        var tabs = tabStrip.tabGroup.children();
                        tabStrip.enable(tabs.eq(1), true);
                        tabStrip.enable(tabs.eq(2), true);
                        $("#Code").attr("readonly", true);
                        isNew = false;
                    }

                    var saveNotification = $("#SaveNotification").data("kendoNotification");
                    saveNotification.show("Сохранено", "success");
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }
    }

    var visitLoad = true;
    function ShowTab(e){
        var index = $(e.item).index();

        if (index === 1){
            StretchGrid($(e.contentElement), $(e.contentElement.firstElementChild));
            return;
        }

        if(index === 2){
            if(visitLoad){
                visitLoad = false;
            }

            //StretchGrid($(e.contentElement), $(e.contentElement.firstElementChild));
        }
    }
</script>

@* TrialCenter *@
<script>
    function OnCenterSave(e){
        e.model.TrialCode = $("#Code").val();
    }

    function OnCenterEdit(e) {
        kendo_grid_onrowedit(e);
        if (e.model.isNew() == false) {
            e.container.find("#HospitalId").data("kendoDropDownList").enable(false);
        }
    }
</script>

@* Procedures *@
<script>
    var isProcedureEdit = false;
    function RequestEnd(e){
        if(e.type === "update" || e.type === "create")
        {
            isProcedureEdit = false;
        }
    }

    function OnProcedureCancel(e){
        isProcedureEdit = false;
    }

    function OnProcedureEdit(e){
        if(!Update()){
            e.preventDefault();
            return;
        }

        isProcedureEdit = true;
        ClearSelection();

        kendo_grid_onrowedit(e);

        var dropDown = kendo.template($("#procedureTemplate").html());
        e.container.find("td:eq(1)").html(dropDown({ value: e.model.ProcedureCode }));
    }

    function OnProcedureSave(e){
        e.model.ProcedureCode = e.container.find("#ProcedureCode").val();
        e.model.dirty = true;
    }

    function OnChange(e){
        if (isProcedureEdit){
            var grid = $("#ProceduresGrid").data("kendoGrid");
            if(grid.select().length > 0)
                grid.clearSelection();
            return;
        }

        if(Update())
            OnSelect($("#ProceduresGrid").data("kendoGrid"));
    }

    function GetTrialProcedureId(){
        var jGrid = $("#ProceduresGrid");
        var grid = jGrid.data("kendoGrid");
        var data = grid.dataItem(jGrid.find(".k-grid-edit-row"));
        return { trialProcedureId: data.Id };
    }

</script>

@* Visits *@
<script>
    function LoadVisitEdit(id){
        var window = $("#VisitEdit").data("kendoWindow");
        window.refresh({
            url: "@Url.Action("GetVisitEditor", "Trials")",
            data: { id: id, trialCode: "@Model.Code" }
    });
    }

    var visitValidator;
    function OpenVisitEdit(){
        var window = $("#VisitEdit").data("kendoWindow");
        visitValidator = $("#visitForm").kendoValidator().data("kendoValidator");
        window.center().open();
        $("#cancelVisit").click(function(){
            window.close();
        });
        $("#saveVisit").click(function(){
            if (visitValidator.validate()) {
                var form = $("#visitForm");
                var isNew = form.find("#IsNew").val();
                $.ajax({
                    type: "POST",
                    url: isNew === "True" ? "@Url.Action("AddTrailVisit", "Trials")" : "@Url.Action("UpdateTrailVisit", "Trials")",
                    data: {
                        "Id": form.find("#Id").val(),
                        "Name": form.find("#Name").val(),
                        "TrialCode": "@Model.Code",
                        "Days": form.find("#Days").val(),
                        "Punctuality": form.find("#Punctuality").val()
                    },
                    success: function (result) {
                        //$("#TabStrip-3").load("@Url.Action("GetProceduresEditor", "Trials", new { trialCode = @Model.Code })");
                        $("#TabStrip-3").html(result);
                        window.close();
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            }
        });
    }

    function DeleteVisit(id){
        if (confirm("Вы действительно хотите удалить визит?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteTrailVisit", "Trials")",
                data: {
                    "Id": id,
                    "TrialCode": "@Model.Code"
                },
                success: function (result) {
                    $("#TabStrip-3").html(result);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }
    }
</script>

@* Checkboxes *@
<script>
    var selectedCell;

    function SelectedVisit(visitId, data){
        if($.inArray(visitId, data.VisitIds) !== -1)
            return "<input class=\"td-visit-checkbox\" type=\"checkbox\" value=\"" + visitId + "\" checked style=\"display:none;margin:0;\" /><span class=\"k-icon k-i-tick\"></span>";

        return "<input class=\"td-visit-checkbox\" type=\"checkbox\" value=\"" + visitId + "\" style=\"display:none;margin:0;\" />";
    }

    function Update(){
        var result = true;
        if(selectedCell != null){
            var input = selectedCell.find("input");
            var checked = input.is(':checked');
            var visitId = parseInt(input.val());
            var row = selectedCell.closest("tr");
            var grid = $("#ProceduresGrid").data("kendoGrid");
            var rowData = grid.dataItem(row);
            var inArray = $.inArray(visitId, rowData.VisitIds) !== -1;
            if((checked && inArray) || (!checked && !inArray)){
                selectedCell.html(SelectedVisit(visitId, rowData));
                return result;
            }
            var values = $(row).find('input:checkbox:checked').map(function () {
                return parseInt(this.value);
            }).get();

            var newRow = {
                "Id": rowData.Id,
                "ProcedureCode": rowData.ProcedureCode,
                "TrialCode": rowData.TrialCode,
                "VisitIds": values
            }; 

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateTrialProcedure", "Trials")",
                data: newRow,
                async: false,
                success: function (data) {
                    //rowData.VisitIds = values;
                    grid.dataSource.pushUpdate(newRow);
                    selectedCell.html(SelectedVisit(visitId, rowData));
                },
                error: function (error) {
                    result = false;
                    grid.select(selectedCell);
                    alert(error.responseText);
                }
            });
        }

        return result;
    }

    function OnSelect(grid){
        var cell = grid.select();
        if(cell.length > 0){
            cell.find("input").css("display","inline-block");
            cell.find("span").remove();
            selectedCell = cell;
        } else {
            selectedCell = null;
        }

        UpdateVisitMaterials();
    }

    function ClearSelection(){
        var grid = $("#ProceduresGrid").data("kendoGrid");
        selectedCell = null;
        grid.clearSelection();
        UpdateVisitMaterials();
    }
</script>

@* VisitMaterials *@
<script>
    var visitMaterialsData = null;
    function UpdateVisitMaterials(){
        var div = $("#VisitMaterials");        
        if(selectedCell == null) {
            div.hide();
            visitMaterialsData = null;
            return;
        }

        var input = selectedCell.find("input");
        var checked = input.is(':checked');
        
        var visitId = parseInt(input.val());

        var row = selectedCell.closest("tr");
        var procGrid = $("#ProceduresGrid").data("kendoGrid");
        var rowData = procGrid.dataItem(row);

        var grid = $("#VisitMaterialsGrid").data("kendoGrid");
        visitMaterialsData = { TrialProcedureId: rowData.id, TrialVisitId: visitId };
        grid.dataSource.read();

        if (checked) {
            div.show();
        } else {
            div.hide();
        }
    }

    function TrialMaterialsData() {
        return { TrialCode: $("#TrialCode").val() };
    }

    function VisitMaterialsData() {
        return visitMaterialsData;
    }

    function OnVisitMaterialsSave(e) {
        e.model.TrialProcedureId = visitMaterialsData.TrialProcedureId;
        e.model.TrialVisitId = visitMaterialsData.TrialVisitId;
    }
</script>


