@model TD.CTS.Auth.ChangePassword
@{
    Layout = null;
    string selectedTheme = TD.CTS.WebUI.Common.ThemeManager.DefaultTheme.Name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")?v=2" />
    <title>Clinical Trial Schedules</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo." + selectedTheme + ".min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.903/kendo.dataviz." + selectedTheme + ".min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/td/td.common.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    <script src="@Url.Content("~/Scripts/plugins/jquery.redirect.min.js")"></script>
    <script src="@Url.Content("~/Scripts/td/td.common.js")"></script>
    <script src="@Url.Content("~/Scripts/td/td.kendo.validation.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/2014.2.903/cultures/kendo.culture.ru-RU.min.js")"></script>

    <script type="text/javascript">

            kendo.culture("ru-RU");

    </script>

    <style type="text/css">
        .td-formTable-caption{
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        @(Html.Kendo().Window()
            .Name("ChangePasswordWindow")
            .Modal(true)
            .Title("Изменение пароля")
            .Visible(false)
            .Animation(true)
            .Width(370)
            .Actions(a => a.Clear())
            .Content(@<text>
                @Html.ValidationSummary(true)
                <table id="changePasswordForm" class="td-formTable" style="margin:0;">
                    <tr>
                        <td class="td-formTable-caption">Текущий пароль</td>
                        <td style="padding:0;">
                            @Html.EditorFor(model => model.OldPassword, "Password")
                            @*Html.ValidationMessageFor(model => model.Username)*@
                        </td>
                    </tr>
                    <tr>
                        <td class="td-formTable-caption">Новый пароль</td>
                        <td style="padding:0;">
                            @Html.EditorFor(model => model.NewPassword, "Password")
                            @*Html.ValidationMessageFor(model => model.Password)*@
                        </td>
                    </tr>
                    <tr>
                        <td class="td-formTable-caption">Новый пароль повторно</td>
                        <td style="padding:0;">
                            @Html.EditorFor(model => model.ConfirmPassword, "Password")
                            @*Html.ValidationMessageFor(model => model.Password)*@
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 5px 5px 0;">
                            @(Html.Kendo().Button()
                                .Name("CancelButton")
                                .SpriteCssClass("k-icon k-cancel")
                                .Content("Отмена")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Events(e => e.Click("CancelChangePassword"))
                            )
                        </td>
                        <td style="padding: 5px 0;">
                            @(Html.Kendo().Button()
                                .Name("ChangeButton")
                                .SpriteCssClass("k-icon k-update")
                                .Content("Изменить")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Events(e => e.Click("ChangePassword"))
                            )
                        </td>
                    </tr>
                </table>
            </text>))
    </div>

    <script>
        var validator = $("#changePasswordForm").kendoValidator({
            rules: {
                compare: function (input) {
                    if (input.is("[name=ConfirmPassword]")) {
                        return input.val() === $("#NewPassword").val();
                    }
                    return true;
                }
            },
            messages: {
                compare: "Пароли не совпадают"
            }
        }).data("kendoValidator");

        $(document).ready(function () {
            kendo_validation_showSummary();
            var mainWindow = $("#ChangePasswordWindow").data("kendoWindow");
            mainWindow.center().open();

            $(window).bind("resize", function () {
                mainWindow.center();
            });
        });

        function ChangePassword() {
            if (validator.validate()) {
                $().redirect("@Url.Action("ChangePassword", "Auth")", {
                    "OldPassword": $("#OldPassword").val(),
                    "NewPassword": $("#NewPassword").val(),
                    "ConfirmPassword": $("#ConfirmPassword").val(),
                    "returnUrl": "@ViewBag.ReturnUrl"
                });
            }
        }

        function CancelChangePassword() {
            $().redirect("@Url.Action("CancelChangePassword", "Auth")", {
                "returnUrl": "@ViewBag.ReturnUrl"
            });
        }
    </script>
</body>
</html>
