@model TD.CTS.Data.Entities.Schedule
@{
    var isNew = ViewBag.IsNew;
}
<table id="scheduleForm" class="td-formTable k-content" style="margin-top:0;/*width:auto;margin-bottom:10px;*/">
    @*margin-top: 0 k-content*@
    <tr>
        <td class="td-formTable-caption"  title="Дата начала исследования" style="width:100px;">Дата начала</td>
        <td style="width:250px;">
            @Html.HiddenFor(model => model.Id)
            @Html.EditorFor(model => model.BeginDate, "Date")
        </td>
        <td class="td-formTable-caption" rowspan="1" style="width:100px;">Примечание</td>
        <td rowspan="2">@Html.EditorFor(model => model.Comment, "Text")</td>
    </tr>
    <tr>
        <td class="td-formTable-caption">Пациент</td>
        <td>
            @Html.EditorFor(model => model.PatientCode, "FormForeignKey")
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td-formTable-caption" >Центр</td>
        <td>
            @Html.EditorFor(model => model.TrialCenterID, "FormForeignKey")
        </td>

        <td class="td-formTable-caption">Статус</td>
        <td>
            @*@Html.EditorFor(model => model.ScheduleStatus)*@
            @Html.Kendo().DropDownListFor(m => m.ScheduleStatus).BindTo(ViewBag.ScheduleStatuses).DataTextField("ScheduleStatusName").DataValueField("ScheduleStatusName")
        </td>
    </tr>
    <tr>
        <td class="td-formTable-caption"></td>
        <td></td>
        <td >
           
        </td>
        <td>
            @(Html.Kendo().Button().Name("SaveButton").SpriteCssClass("k-icon k-update").Content("Сохранить").HtmlAttributes(new { style = "width:230px;" }).Events(e => e.Click("SaveSchedule")))
            @if(!isNew)
            {
                @(Html.Kendo().Button().Name("CalcButton").SpriteCssClass("k-icon k-i-seek-s").Content("Заполнить").HtmlAttributes(new { style = "width:230px;" }).Events(e => e.Click("CalcSchedule")))
            }
        </td>
    </tr>
</table>
@(Html.Kendo().Notification().Name("SaveNotification").Position(p => p.Pinned(true).Top(115).Right(30)).Width(150))